.menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  background: #fff;
  padding: 100px 1rem;
  transform: translateX(-100%);
  will-change: transform;
}

ul {
  display: flex;
  gap: 10px;
  padding: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  color: #000;
  display: block;
  transform-origin: -20px 50%;
  font-weight: bold;
  font-size: 48px;
  padding: 10px;
  will-change: transform, opacity, filter;
  flex-basis: 30%;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  font-size: 28px;
  a {
    color: #000;
    text-decoration: none;
  }
  span {
    position: absolute;
    left: 0;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
}
.title {
  text-align: center;
  font-size: 248px;
}
.img-container {
  width: 100%;
  background-color: red;
}

img {
  width: 100%;
  object-fit: cover;
  filter: grayscale(100%);
}

.menu-item:hover {
  box-shadow: 0 2px rgba(0, 0, 0, 0.2);
}
