@import url("https://fonts.googleapis.com/css2?family=Anton+SC&display=swap");

:root {
  font-family: "Anton SC", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --accent: var(--pink);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
